# Project exclude paths
/Gmall-Common/target/
/Gmall-Common/Gmall-Common.iml
/Gmall-Logger/.mvn/
/Gmall-Logger/target/
/Gmall-Logger/.gitignore
/Gmall-Logger/gmall-logger.iml
/Gmall-Logger/HELP.md
/Gmall-Logger/mvnw
/Gmall-Logger/mvnw.cmd
/Gmall-Mock/target/
/Gmall-Mock/Gmall-Mock.iml
/Gmall-Publish/Gmall-Publish.iml
/Gmall-Realtime/Gmall-Realtime.iml
/Gmall-Realtime/target/
/Gmall-Publish/.mvn/
/Gmall-Publish/HELP.md
/Gmall-Publish/mvnw
/Gmall-Publish/mvnw.cmd
/Gmall-Publish/target/
/Gmall-Canal/Gmall-Canal.iml
/Gmall-Canal/target/
.idea
Gmall-Parent.iml
.gitignore
